{% load staticfiles %}
<html>
    <head>
        <title>Relatim</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/relatim.css" %}">
    </head>
    <body>
        <div class="container">
            <header class="row">
                <h1><a href="">Relatim</a></h1>
                <h3><a href="/relatim/logout">logout</a></h3>
            </header>
            <main class="row">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>

