{% extends "relatim/base.html" %}

{% block content %}
<h2>{{image.title}}</h2>
<div>
	<img src="{{image.url}}" height="400px" width="400px" />
</div>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Image</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
		{% for related_image in related_images %}
			<tr>
				<td><img class="thumbnail" src="{{ related_image.url }}" width="100px" height="100px"/></td>
				<td><a href=" {{ related_image.url }} ">{{ related_image.url }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock content %}
